.bg-color-nav {
    background-color: #88BDBC !important;
}

.nav-logo {
    width: 30px !important;
    height: 30px !important;
}

.carousel-height {
    height: 30rem !important;
}

.carousel-color {
    background-color: #254E58 !important;
}

.h-100 {
    height: 100% !important;
}

.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.sedan-regular-italic {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: italic;
}